# Atlassian credentials
ATLASSIAN_URL=https://my-company.atlassian.net
ATLASSIAN_USERNAME=myemail@my-company.com
ATLASSIAN_API_TOKEN=my-192-charachters-api-key

# Space/Project filters
# Note: Jira UI calls them "spaces" but API still uses "projects"
CONFLUENCE_SPACES_FILTER=my-confluence-project-key, my-other-confluence-project-key
JIRA_PROJECTS_FILTER=my-jira-project-key
